In [1]:
# Preprocessing
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

data = pd.read_excel (r'Superstore.xls')

## Task 11:
### Finding out the most and least sold product category from the store

#### a.) Value based

In [2]:
prod_sale = data.groupby(['Category'])['Sales'].sum()
prod_sale = pd.DataFrame(prod_sale)
prod_sale = prod_sale.reset_index()
print("Product Categories with their total sales.")
prod_sale

Product Categories with their total sales.

          Category        Sales
0        Furniture  741999.7953
1  Office Supplies  719047.0320
2       Technology  836154.0330

In [3]:
max_prod_sale_index = prod_sale['Sales'].idxmax()
max_prod_sale = prod_sale.iloc[max_prod_sale_index]
print("Category with the highest sales.")
max_prod_sale

Category with the highest sales.

Category    Technology
Sales           836154
Name: 2, dtype: object

In [4]:
min_prod_sale_index = prod_sale['Sales'].idxmin()
min_prod_sale = prod_sale.iloc[min_prod_sale_index]
print("Category with the lowest sales.")
min_prod_sale

Category with the lowest sales.

Category    Office Supplies
Sales                719047
Name: 1, dtype: object

#### b.) Quantity based

In [5]:
prod_quant = data.groupby(['Category'])['Quantity'].sum()
prod_quant = pd.DataFrame(prod_quant)
prod_quant = prod_quant.reset_index()
print("Product Categories with their total quantities sold.")
prod_quant

Product Categories with their total quantities sold.

          Category  Quantity
0        Furniture      8028
1  Office Supplies     22906
2       Technology      6939

In [6]:
max_prod_quant_index = prod_quant['Quantity'].idxmax()
max_prod_quant = prod_quant.iloc[max_prod_quant_index]
print("Category with the most quantities sold.")
max_prod_quant

Category with the most quantities sold.

Category    Office Supplies
Quantity              22906
Name: 1, dtype: object

In [7]:
min_prod_quant_index = prod_quant['Quantity'].idxmin()
min_prod_quant = prod_quant.iloc[min_prod_quant_index]
print("Category with the lowest quantities sold.")
min_prod_quant

Category with the lowest quantities sold.

Category    Technology
Quantity          6939
Name: 2, dtype: object