In [1]:
# Preprocessing
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

data = pd.read_excel (r'Superstore.xls')

## Task 12:
### Finding out the most and least sold product sub category from the store

#### a.) Value based

In [2]:
sub_prod_sales = data.groupby(['Sub-Category'])['Sales'].sum()
sub_prod_sales = pd.DataFrame(sub_prod_sales)
sub_prod_sales = sub_prod_sales.reset_index()
print("List of Sub-Categories with their total sales.")
sub_prod_sales.head()

List of Sub-Categories with their total sales.

  Sub-Category        Sales
0  Accessories  167380.3180
1   Appliances  107532.1610
2          Art   27118.7920
3      Binders  203412.7330
4    Bookcases  114879.9963

In [3]:
max_sub_prod_sales_index = sub_prod_sales['Sales'].idxmax()
max_sub_prod_sales = sub_prod_sales.iloc[max_sub_prod_sales_index]
print("Sub-category with the highest sales.")
max_sub_prod_sales

Sub-category with the highest sales.

Sub-Category    Phones
Sales           330007
Name: 13, dtype: object

In [4]:
min_sub_prod_sales_index = sub_prod_sales['Sales'].idxmin()
min_sub_prod_sales = sub_prod_sales.iloc[min_sub_prod_sales_index]
print("Sub-category with the lowest sales.")
min_sub_prod_sales

Sub-category with the lowest sales.

Sub-Category    Fasteners
Sales             3024.28
Name: 8, dtype: object

#### b.) Quantity based

In [5]:
sub_prod_quant = data.groupby(['Sub-Category'])['Quantity'].sum()
sub_prod_quant = pd.DataFrame(sub_prod_quant)
sub_prod_quant = sub_prod_quant.reset_index()
print("List of Sub-Categories with their total quantities sold.")
sub_prod_quant

List of Sub-Categories with their total quantities sold.

   Sub-Category  Quantity
0   Accessories      2976
1    Appliances      1729
2           Art      3000
3       Binders      5974
4     Bookcases       868
5        Chairs      2356
6       Copiers       234
7     Envelopes       906
8     Fasteners       914
9   Furnishings      3563
10       Labels      1400
11     Machines       440
12        Paper      5178
13       Phones      3289
14      Storage      3158
15     Supplies       647
16       Tables      1241

In [6]:
max_sub_prod_quant_index = sub_prod_quant['Quantity'].idxmax()
max_sub_prod_quant = sub_prod_quant.iloc[max_sub_prod_quant_index]
print("Sub-category with the most quantites sold.")
max_sub_prod_quant

Sub-category with the most quantites sold.

Sub-Category    Binders
Quantity           5974
Name: 3, dtype: object

In [7]:
min_sub_prod_quant_index = sub_prod_quant['Quantity'].idxmin()
min_sub_prod_quant = sub_prod_quant.iloc[min_sub_prod_quant_index]
print("Sub-Category with the least quantities sold.")
min_sub_prod_quant

Sub-Category with the least quantities sold.

Sub-Category    Copiers
Quantity            234
Name: 6, dtype: object